<div class="second text-white">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 p-0">
        <img src="../../assets/second-bg.jpg" alt="" class="img" />
      </div>
    </div>
    <h1 class="mt-5 text-center text-primary">
      Организация строительства ВОЛС
    </h1>
    <p data-aos="fade-up" data-aos-duration="1000">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Строительство линейных сооружений ВОЛС
      начинается с проектирования и завершается приемо-сдаточными испытаниями.
      После этого сеть или линию сдают в эксплуатацию. В дальнейшем сеть может
      изменяться или расширяться.
    </p>
    <p data-aos="fade-up" data-aos-duration="1000">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;План строительных работ составляют на
      основании изучения проектно-сметной документации, исследования на
      местности трасс и условий работ, районов размещения узловых и оконечных
      пунктов, обслуживаемых и необслуживаемых регенерационных пунктов (ОРП,
      НРП), а также расположения и состояния дорог, складов линейных и
      строительных материалов, выбора способа строительства на сложных участках
      трассы (горы, болота, водные преграды и т. д.). Должны быть подготовлены
      необходимые строительные механизмы, автотранспорт, измерительное
      оборудование, решены вопросы размещения строительно-монтажных
      подразделений и организации служебной связи.
    </p>
    <p data-aos="fade-up" data-aos-duration="1000">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Все вопросы, относящиеся к
      проектированию, рассматриваются подробно в цикле отдельных статей.
      Рекомендуем начать знакомство с нашего материала про общие принципы
      проектирования.
    </p>
    <p data-aos="fade-up" data-aos-duration="1000">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;На подготовительном этапе к
      строительству выполняют входной контроль волоконно-оптического кабеля
      (ВОК) и группирование строительных длин. Входной контроль заключается в
      общем осмотре всех барабанов с ВОК, простейшем просвечивании ОВ и
      измерении их оптических параметров. Осмотр ведется на кабельной площадке,
      а измерения — в сухих отапливаемых помещениях, имеющих достаточное
      освещение и возможность подключения приборов. При входном контроле
      проверяют соответствие строительных длин и параметров передачи паспортным
      данным.
    </p>
    <p data-aos="fade-up" data-aos-duration="1000">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Группирование строительных длин
      проводится из соображений прокладки на одном регенерационном участке ВОК
      одной конструкции с одним типом ОВ и защитного покрытия, изготовленных
      одним заводом. Исключение — случаи соединения ВОК разных типов для
      подводных и воздушных переходов. При группировании строительных длин
      одномодовых ВОК дополнительно учитываются параметры передачи: затухания
      отдельных строительных длин складываются арифметически, а дисперсии —
      алгебраически, т. е. с учетом знака. Законы сложения параметров передачи
      строительных длин многомодовых ОВ имеют сложный характер, что вызывает
      значительные трудности при их практической реализации.
    </p>
    <p data-aos="fade-up" data-aos-duration="1000">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;По результатам группирования
      строительных длин ВОК по всем регенерационным участкам составляют
      укладочную ведомость. Кабель развозят по трассе и приступают к его
      прокладке.
    </p>
  </div>
</div>
