.second {
  background-color: #141213;
  padding-bottom: 50px;
  width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
}

.img {
  width: 100vw;
  height: 400px;
  object-fit: cover;
}

p {
  font-size: 24px;
  margin-top: 50px;
}
