<div class="first text-white">
  <div class="container-fluid">
    <h1 class="mt-5 text-center text-primary">
      Оптические волокна: основные понятия и принципы
    </h1>
    <div class="row">
      <div class="col-12">
        <div class="info-card" data-aos="fade-left" data-aos-duration="1000">
          <p class="border border-primary p-4">
            Оптическое волокно - чрезвычайно тонкий стеклянный цилиндр,
            называемый жилой, покрытый слоем стекла (рисунок 1), называемого
            оболочкой, с иным, чем у жилы, коэффициентом преломления. Волокно
            характеризуется диаметрами этих областей - например, 50/125 означает
            волокно с диаметром сердцевины 50 мкм и внешним диаметром оболочки
            125 мкм.
          </p>
          <div class="img-wrapper">
            <img src="../../assets/first/Picture1.jpg" alt="" />
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="info-card" data-aos="fade-right" data-aos-duration="1000">
          <div class="img-wrapper">
            <img src="../../assets/first/Picture2.png" alt="" />
          </div>
          <p class="border border-primary p-4">
            В зависимости от траектории распространения света различают
            одномодовое и многомодовое волокно. (рисунок 2) Многомодовое
            (многочастотное) волокно имеет довольно большой диаметр сердцевины -
            50 или 62,5 мкм при диаметре оболочки 125 мкм или 100 мкм пои
            оболочке 140 мкм. Одномодовое (одночастотное) волокно имеет диаметр
            сердцевины 8 или 9,5 мкм при том же диаметре оболочки. Снаружи
            оболочка имеет пластиковое защитное покрытие толщиной 60 мкм,
            называемое также защитной оболочкой. Световод (сердцевина в
            оболочке) с защитным покрытием называется оптическим волокном.
          </p>
        </div>
      </div>
      <div class="col-12">
        <div class="info-card" data-aos="fade-left" data-aos-duration="1000">
          <p class="border border-primary p-4">
            Конструкция оптоволоконного кабеля представляет стекловолоконные
            нити, защищенные оболочками. Конструктивное наполнение оптического
            кабеля варьируется в зависимости от типа кабеля и его прокладки, но
            можно выделить основные элементы: оптическое волокно, центральная
            трубка.
          </p>
          <div class="img-wrapper">
            <img src="../../assets/first/Picture3.jpg" alt="" />
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="info-card" data-aos="fade-right" data-aos-duration="1000">
          <div class="img-wrapper">
            <img src="../../assets/first/Picture4.jpg" alt="" />
          </div>
          <p class="border border-primary p-4">
            Данной конструкции пучки оптических волокон свободно размещаются
            внутри трубки сердечника. Подобная конструкция позволяет снизить
            растягивающие, сжимающие и сдавливающие нагрузки на оптических
            волокнах. Вытяжные тросы применяются для удобства разрезания внешней
            оболочки оптического кабеля
          </p>
        </div>
      </div>
      <div class="col-12">
        <div class="info-card" data-aos="fade-left" data-aos-duration="1000">
          <p class="border border-primary p-4">
            В данной конструкции присутствует фигурный сердечник с полостями для
            размещения оптических волокон. Преимуществом конструкции данного
            вида является то, что в центре фигурного сердечника находится
            стальной силовой элемент, который принимает на себя растягивающие и
            сжимающие воздействия
          </p>
          <div class="img-wrapper">
            <img src="../../assets/first/Picture5.jpg" alt="" />
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="info-card" data-aos="fade-right" data-aos-duration="1000">
          <div class="img-wrapper">
            <img src="../../assets/first/Picture6.jpg" alt="" />
          </div>
          <p class="border border-primary p-4">
            В данной конструкции все оптические волокна объединяются в ленты,
            которые располагаются внутри трубки сердечника
          </p>
        </div>
      </div>
      <div class="col-12">
        <div class="info-card" data-aos="fade-left" data-aos-duration="1000">
          <p class="border border-primary p-4">
            К конструкциям кабелей, прокладываемых по морскому дну,
            предъявляются особые требования. Кабели данного вида испытывают
            особенно большие нагрузки. Поэтому больше 90% конструкции данных
            кабелей составляют защитные и упрочняющие элементы
          </p>
          <div class="img-wrapper">
            <img src="../../assets/first/Picture7.jpg" alt="" />
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="info-card" data-aos="fade-right" data-aos-duration="1000">
          <div class="img-wrapper">
            <img src="../../assets/first/Picture8.jpg" alt="" />
          </div>
          <p class="border border-primary p-4">
            Кабели, применяемые для городских телефонных сетей, обладают, как
            правило, облегченной конструкцией, так как прокладываются в
            кабельной канализации, трубах, коллекторах и внутри зданий. Такие
            кабели сконструированы по принципу со свободной трубкой с большим
            количеством волокон в каждом оптическом модуле
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
