<div class="navigation">
  <div class="container-fluid">
    <div class="row title-wrapper">
      <div class="col-6 d-flex align-items-center">
        <h1 class="title text-white ms-5">
          Инструменты для подключения оптических волокон
        </h1>
      </div>
    </div>
    <div class="row">
      <div
        class="link-box col-12 d-flex align-items-center justify-content-between border-top"
      >
        <a routerLink="/first-chapter" class="nav-link mx-3 text-white">
          <span class="number">1</span>Оптические волокна
        </a>
        <a routerLink="/second-chapter" class="nav-link mx-3 text-white">
          <span class="number">2</span>Организация строительства ВОЛС
        </a>
        <a routerLink="/third-chapter" class="nav-link mx-3 text-white">
          <span class="number">3</span>Работа с инструментами
        </a>
        <a routerLink="/instruments" class="nav-link mx-3 text-white">
          <span class="number">4</span>Инструменты
        </a>
        <a routerLink="/videos" class="nav-link mx-3 text-white">
          <span class="number">5</span>Видеоматериалы
        </a>
      </div>
    </div>
  </div>
</div>
